<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
	<h4 class="modal-title" id="myModalLabel"><strong>{{className}}</strong> - details</span></h4>
</div>
<div class="modal-body">
	<div ng-repeat="config in classConfig.details">
		<div ng-if="data[config.name] != null">
			<div ng-if="config.type == 'String'">
				<h5><strong>{{config.name | capitalize}}: </strong></h5><h6>{{data[config.name]}}</h6>
			</div>
			<div ng-if="config.type == 'Pointer'">
				<h5>
					<strong>{{config.name | capitalize}}: </strong>
				</h5>
				<h6>
					<button type="button" class="btn btn-link" ng-click="openView(data[config.name].className, data[config.name].objectId)">{{data[config.name].value}}</button>
				</h6>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">       
	<button style="float: left;" class="btn btn-primary" type="button" ng-click="openEdit(className, objectId)">Edit</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Volver</button>
</div>