<div class="modal-header">
		<h3 class="modal-title">View: {{classname}}</h3>
	</div>
<div class="modal-body">
    <div ng-show="modalLoadStatus">Loading...</div>
	<!-- BEGIN FORM-->
        <form class="form-horizontal" role="form" ng-hide="modalLoadStatus">
            <div class="form-body">
                <h2 class="margin-bottom-20"> {{classname}} Info </h2>
<!--                 <h3 class="form-section">Person Info</h3> -->
                <div class="row" ng-repeat="(key,value) in class_view_row" ng-if="key != 'createdAt' && key != 'objectId' && key != 'updatedAt'">
<!--                     <div class="col-md-9"> -->
                        <div class="form-group">
                            <label class="control-label col-md-3">{{key | capitalize}}:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    <span ng-repeat="classConfig in class_config.find.details">	
										<span ng-if="classConfig.type == 'String' && classConfig.name == key">{{value}}</span>
										<span ng-if="classConfig.type == 'Number' && classConfig.name == key">{{value}}</span>
										<span ng-if="classConfig.type == 'Boolean' && classConfig.name == key">{{value}}</span>
										<span ng-if="classConfig.type == 'GeoPoint' && classConfig.name == key">{{value}}</span>
										<span ng-if="classConfig.type == 'File' && classConfig.name == key"><img class="img-responsive img-thumbnail" src="{{value.url}}" alt=""></span>
										<span ng-if="classConfig.type == 'Date' && classConfig.name == key">{{value | date: 'short'}}</span>
										<span ng-if="classConfig.type == 'Pointer' && classConfig.name == key" ng-init="loadSelect(classConfig.targetClass, value.objectId, classConfig.include)">
											<span ng-repeat="(kk,vv) in selectChoices[classConfig.targetClass]">
												<span ng-repeat="title in classConfig.show.title.values" >{{vv[title.columnName]}} </span>
												<span ng-repeat="subTitle in classConfig.show.subTitle.values" ng-if="subTitle.inputType === 'file'"><img class="img-responsive img-thumbnail" src="{{vv[subTitle.columnName].url}}"></span>
												<span ng-repeat="subTitle in classConfig.show.subTitle.values" ng-if="subTitle.inputType !== 'file'">{{vv[subTitle.columnName]}}</span>
											</span>
										</span>
										<span ng-if="classConfig.type == 'Array' && classConfig.name == key">
												<span>{{value.length}}</span>
										</span> 
									</span>
                                </p>
                            </div>
                        </div>
<!--                     </div> -->
                </div>
                <!--/row-->
        </form>

</div>
<div class="modal-footer">
<!-- 	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
	<button class="btn btn-warning" type="button" ng-click="cancel()">Volver</button>
</div>