<div class="col-md-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{{classname}}
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <!-- <a href="#" data-toggle="modal" class="config">
						</a> -->
                <a href="javascript:;" class="reload">
                </a>
                <!-- <a href="javascript:;" class="remove">
						</a> -->
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal form-bordered" method="POST" ng-submit="create_class_row(classname)" validate>
                <div class="form-body">
                    <div class="form-group" ng-repeat="(name, value) in class_config.create">
                        <label class="control-label col-md-3">{{name | capitalize}}</label>
                        <div class="col-md-6" ng-if="value.type == 'String'">
                            <div class="input-icon right">
                                <input type="text" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'File'">
                            <div class="input-icon right">
                                <input type="text" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'GeoPoint'">
                            <div class="input-icon right">
                                <input type="text" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'Boolean'">
                            <div class="input-icon right">
                                <input type="text" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'Number'">
                            <div class="input-icon right">
                                <input type="number" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'Date'">
                            <div class="input-icon right">
                                <input type="datetime-local" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name].type = value.type">
                                <p>se guardara como: {{class_new_row[classname][name]}}</p>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'Pointer'" ng-init="loadSelect(value.targetClass, '')">
                            <ui-select ng-model="class_new_row[classname][name].value" theme="select2" ng-disabled="disabled" style="width: 50%" ng-init="class_new_row[classname][name] = {targetClass: value.targetClass,type: value.type}">
                                <ui-select-match placeholder="Select {{value.targetClass}}" allow-clear="true">{{$select.selected[selectConfig[value.targetClass].title]}}</ui-select-match>
                                <ui-select-choices repeat="item in selectChoices[value.targetClass] | filter: $select.search">
                                    <div ng-bind-html="item[selectConfig[value.targetClass].title] | highlight: $select.search"></div>
                                    <small>{{item[selectConfig[value.targetClass].subTitle]}}</small>
                                </ui-select-choices>
                            </ui-select>
                            <p>{{class_new_row[classname][name]}}</p>
                        </div>
                        <div class="col-md-6" ng-if="value.type == 'Array'" ng-init="loadSelect(value.targetClass, value.type)">
							<textarea rows="5" class="form-control" ng-model="class_new_row[classname][name].value" ng-init="class_new_row[classname][name] = {targetClass: value.targetClass,type: value.type}"></textarea>
							<p>{{class_new_row[classname][name]}}</p>
<!--                             <ui-select multiple ng-model="MultiChoices" theme="select2" style="width: 100%;">
                                <ui-select-match placeholder="Select choices...">{{$item}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in selectMultipleChoices | filter: $select.search">
                                    <div ng-bind-html="item | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> -->
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <!-- <button type="button" class="btn default">Cerrar</button> -->
                                <button type="submit" class="btn blue-madison"><i class="fa fa-check"></i> Crear</button>
                                <button type="button" class="btn" ng-click="clear_class_row()">Prueba</button>
                            </div>
                        </div>
                    </div>
            </form>
            <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->