<script type="text/ng-template" id="modalNew">
	<div ng-include="'views/class/class_modal_new.html'"></div>
</script>
<script type="text/ng-template" id="modalEdit">
	<div ng-include="'views/class/class_modal_edit.html'"></div>
</script>
<script type="text/ng-template" id="modalView">
	<div ng-include="'views/class/class_modal_view.html'"></div>
</script>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#/">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active" ng-bind="active">

	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
                    <input value="New {{classname}}" class="caption-subject font-green-sharp bold uppercase" type="button" ng-click="openNew()">
				</div>
				<div class="inputs">
					<div class="portlet-input input-medium input-inline">
						<div class="input-icon right">
							<i class="icon-magnifier"></i>
							<input type="text" class="form-control form-control-solid" placeholder="search..." ng-model="query">
						</div>
					</div>
				</div>
			</div>
			<!-- 			<div class="portlet-title">
				<ul class="list-inline">
					<li>
					    <ui-select ng-model="class_order.selected" theme="select2" ng-disabled="disabled">
						    <ui-select-match placeholder="Order by" allow-clear="false">{{$select.selected.column}}</ui-select-match>
						    <ui-select-choices repeat="class_order in class_orders">
						      <div ng-bind-html="class_order.column | highlight: $select.search"></div>
						    </ui-select-choices>
						</ui-select>
					</li>
					<li>
						<label class="radio-inline"><input type="radio"  value="+" ng-model="sort" ng-init="sort='+'">Asc</label>
						<label class="radio-inline"><input type="radio" value="-" ng-model="sort">Desc</label>
					</li>
					<li class="pull-right">
						<label>Show: </label>
						<select class="form-group" ng-model="quantity" ng-init="quantity=5">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="{{class_rows.length}}">All</option>
						</select>
					</li>
				</ul>
			</div>	 -->
			<div class="portlet-body">
				<div class="panel-group accordion scrollable" id="accordion2">
					<div class="panel panel-default" ng-repeat="row in class_rows.classdata | filter: query | orderBy: '-createdAt'">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#{{row.objectId}}">
								<strong ng-repeat="col in class_config.find.main.title.values">
									<span ng-if="col.className == 'this'">{{row[col.columnName]}} </span>
									<span ng-if="col.className != 'this'">{{row[col.className][col.columnName]}} </span>
								</strong>
								<span ng-repeat="col in class_config.find.main.subTitle.values">
									<span ng-if="col.className == 'this'">
										<span ng-if="col.type === 'Date'">{{row[col.columnName].iso | date: 'short'}}</span>
										<span ng-if="col.type !== 'Date'">{{row[col.columnName]}}</span>
									</span>
								</span>
								<span ng-if="col.className != 'this'">
										<span ng-if="col.type === 'Date'">{{row[col.className][col.columnName].iso | date: 'short'}}</span>
										<span ng-if="col.type !== 'Date'">{{row[col.className][col.columnName]}}</span>
								</span>
								</a>
							</h4>
						</div>
						<div id="{{row.objectId}}" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="list-group">
									<h4>Details</h4>
										<li class="list-group-item" ng-repeat="(key , value) in row" ng-if="key != 'createdAt' && key != 'objectId' && key != 'updatedAt'"><strong>{{key}}: </strong> 
											<span ng-repeat="classConfig in class_config.find.details">	
												<span ng-if="classConfig.type == 'String' && classConfig.name == key">{{value}}</span>
												<span ng-if="classConfig.type == 'Number' && classConfig.name == key">{{value}}</span>
												<span ng-if="classConfig.type == 'Boolean' && classConfig.name == key">{{value}}</span>
												<span ng-if="classConfig.type == 'GeoPoint' && classConfig.name == key">{{value}}</span>
												<span ng-if="classConfig.type == 'File' && classConfig.name == key"><a href="{{value.url}}" target="_blank">ver archivo</a></span>
												<span ng-if="classConfig.type == 'Date' && classConfig.name == key">{{value.iso | date: 'short'}}</span>
 												<span ng-if="classConfig.type == 'Pointer' && classConfig.name == key">
													<span ng-repeat="(kk,vv) in selectChoices[classConfig.targetClass]">
														<span ng-repeat="title in classConfig.show.title.values" ng-if="value.objectId == vv.objectId">{{vv[title.columnName]}} </span>
														<span ng-repeat="subTitle in classConfig.show.subTitle.values" ng-if="value.objectId == vv.objectId && subTitle.inputType === 'file'"><a href="{{vv[subTitle.columnName].url}}" target="_blank">ver archivo</a></span>
														<span ng-repeat="subTitle in classConfig.show.subTitle.values" ng-if="value.objectId == vv.objectId && subTitle.inputType !== 'file'">{{vv[subTitle.columnName]}}</span>
													</span>
<!--                                                    <a ng-click="openNew()">Ver</a>-->
												</span>
												<span ng-if="classConfig.type == 'Array' && classConfig.name == key">
														<span>{{value.length}}</span>
												</span> 
											</span>
										</li> 
								</ul>
								<input value="Modal View" class="btn btn-default" type="button" ng-click="openView('lg')">
								<input value="Modal Edit" class="btn btn-default" type="button" ng-click="openEdit('lg')">
								<a class="btn btn-default" href="#/class/edit/{{classname}}/{{row.objectId}}" ng-disabled="editarDisabled">Edit</a>
<!-- 								<input value="Delete" class="btn btn-default" type="button" ng-disabled="borrarDisabled" ng-click="delete_class_row(row.objectId, classname)"> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>