<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#/">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active" ng-bind="active">
		
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="row">
	<div class="col-md-12" ng-show="flash.status">
		<div class="alert alert-{{flash.class}} alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<strong>{{flash.type}}</strong> {{flash.message}}
		</div>
	</div>
	<div class="col-md-12">			<!-- BEGIN PORTLET-->
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>Editar Evento
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse">
						</a>
						<!-- <a href="#" data-toggle="modal" class="config">
						</a> -->
						<a href="javascript:;" class="reload">
						</a>
						<!-- <a href="javascript:;" class="remove">
						</a> -->
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form class="form-horizontal form-bordered" method="POST" ng-submit="update_event()" validate>
						<div class="form-body">
							<div class="form-group" ng-repeat="(lan , title) in events_edit.title">
								<label class="control-label col-md-3">Título {{lan}}</label>
								<div class="col-md-8">
									<div class="input-icon right">
										<input type="text" class="form-control" name="title" required ng-model="title">
									</div>
								</div>
							</div>
							<div class="form-group" ng-repeat="(lan , detail) in events_edit.detail">
								<label class="control-label col-md-3" >Descripción {{lan}}</label>
								<div class="col-md-8">
									<div class="input-icon right">
										<textarea class="form-control" name="detail" rows="4" required ng-model="detail"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Fecha Inicio</label>
								<div class="col-md-4">
									<div class="input-icon right">
										<input type="datetime-local" class="form-control" name="start" required ng-model="events_edit.start.iso">
									</div>
									<!-- /input-group -->
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Fecha Fin</label>
								<div class="col-md-4">
									<div class="input-icon right">
										<input type="datetime-local" class="form-control" name="end" required ng-model="events_edit.end.iso">
									</div>
									<!-- /input-group -->
								</div>
							</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<!-- <button type="button" class="btn default">Cerrar</button> -->
									<button type="submit" class="btn blue-madison"><i class="fa fa-check"></i> Guardar</button>
									<a href="#/events" class="btn btn-default">Volver</a>

								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
			<!-- END PORTLET-->